{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if x|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
        {% for name in y %}
            <th>{{ name }}</th>
        
        {% endfor %}
        </tr>
        
     
     {% for i in range(0, lengthofx) %} 
     <tr>
        
        {% for j in range(0, length) %} 
            
                <td>{{ x[j][i] }}</td>
                
            
        {% endfor %}
     </tr>
    {% endfor %}
        
    </table>
    {% endif %}

    
{% endblock %}